
.title{
	font-size:20px;
	font-weight:70;
	text-align:center;
	font-family:sans-serif;
	color: white;
}

#monimage1 {
   background: url(images/monimage.gif) no-repeat;
   width: nn;
   height: mm;
}

#nav {margin: 0;padding: 7px 6px 0;background: #000000 repeat-x 0 -110px;line-height: 100%;
	border-radius: 2em;
	-webkit-border-radius: 2em;
	-moz-border-radius: 2em;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0, .4);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0, .4);}

#nav .current a, #nav li:hover > a {background: #000000 repeat-x 0 -40px;border-top: solid 1px #f8f8f8;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0, .2);
	-moz-box-shadow: 0 1px 1px rgba(0,0,0, .2);
	box-shadow: 0 1px 1px rgba(0,0,0, .2);
	text-shadow: 0 1px 0 rgba(255,255,255, 1);}

#nav li {
	margin: 0 5px;
	padding: 0 0 8px;
	float: left;
	position: relative;
	list-style: none;}

#nav .right{
	margin: 0 5px;
	padding: 0 0 8px;
	float: right;
	position: relative;
	list-style: none;}

#nav a {font-weight: bold;color: #F0FFFF;text-decoration: none;display: block;padding: 8px 20px;margin: 0;
	-webkit-border-radius: 1.6em;
	-moz-border-radius: 1.6em;
	text-shadow: 0 1px 1px rgba(0,0,0, .3);}

#nav:after {content: ".";display: block;clear: both;visibility: hidden;height: 0; opacity:0.25;}
#nav {display: inline-block;}
html[xmlns] #nav {display: block;}

.button {
  background-color: #000000;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
	-webkit-border-radius: 1.6em;
	-moz-border-radius: 1.6em;
	transition-duration: 0.4s;
}